.nav li {
    padding-right: 2.5rem;
}

.nav li a {
    font-size: 1.3rem;
    font-weight: bolder;
    color:#f9f8f8 !important;
}

.nav li a:hover{
color:rgba(25, 166, 237, 0.908) !important;
transition: all .2 ease-in !important;
}

