.nav li {
    padding-right: 2.5rem;
}

.nav li a {
    font-size: 1.3rem;
    font-weight: bolder;
    color:#000000 !important;
}

.nav li a:hover{
color:rgba(255, 255, 255, 0.987) !important;
transition: all .2 ease-in !important;
}

