.nav li {
    padding-right: 2.5rem;
}

.nav li a {
    font-size: 1.3rem;
    color:whitesmoke !important;
}

.nav li a:hover{
color:rgba(38, 23, 76, 0.987) !important;
transition: all .2 ease-in !important;
}

