/* @import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;1,200;1,300;1,400;1,500&display=swap'); */

/* @import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;1,200;1,300;1,400;1,500&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap'); */

* {
  margin: 0 !important;
  /* width: 100vh !important; */
  /* height: 100vh !important; */
  /* padding: 0 !important; */
  box-sizing: border-box !important;
  font-family: 'Courier New', Courier, monospace, sans-serif, 'Times New Roman', Times, serif !important;
  font-size: 20px;
}


body {
 background: url(./assets/alisa-anton-TFB-yM97hGg-unsplash.jpg);
 background-position: center;
 /* background-size: 300px, 100px, cover; */
 /* background-repeat: no-repeat; */
 /* background-blend-mode: screen; */
 background-size: cover;
 /* object-fit: cover; */
 /* overflow: hidden; */
 /* position: fixed;  */
 /* resize: 'cover', // or 'stretch', */
 /* flex: auto; */
 /* margin: auto; */
 /* width: 100%; */
 /* position: absolute; */
 /* top: 0; */
 /* left: 0; */
}

a {
  color: rgb(249, 248, 248) !important;
}

h1,
p {
  text-align: center;
}

.btn {
  cursor: pointer;
}

.btn-right {
  background: transparent;
  color: white;
}


